body {
    position: relative;
    background-color: beige;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header {
    background-color: rgb(169, 140, 23);
    height: 55px;
    
}

li {
    display: inline;
    margin: 20px;
}

nav {
    text-align: right;
    font-size: 20px;
    background-color: azure;
    height: 45px;
    padding-top: 1px;
    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.input {
    display: block;
    width: 275px;
    height: 100px;
    background-color: rgb(7, 56, 56);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;  
}

input {
    margin: 15px;
}
